= list_title

%table.records
  %tr
    %th
      = resource_class.human_attribute_name :name
    %th
      = resource_class.human_attribute_name :email
    %th

  - collection.each do |resource|
    %tr
      %td      
        = resource.name
      %td      
        = resource.email
      %td
        = edit_link_to resource
        = destroy_link_to resource

%br 

= new_link_to
