= list_title

%table
  %tr
    %th
      = resource_class.human_attribute_name :name
    %th

  - collection.each do |resource|
    %tr
      %td
        = resource.name
      %td
        = edit_link_to resource
        = destroy_link_to resource
        = link_to Field.model_name.human, table_fields_path(resource)
        = link_to Index.model_name.human, table_indices_path(resource)
        = link_to Constraint.model_name.human, table_constraints_path(resource)

%br

= new_link_to :female
= up_link_to
