= list_title

%table
  %tr
    %th
      = resource_class.human_attribute_name :name
    %th
      = resource_class.human_attribute_name :version
    %th

  - collection.each do |resource|
    %tr
      %td
        = resource.name
      %td
        = resource.version
      %td
        = edit_link_to resource
        = destroy_link_to resource
        = link_to Group.model_name.human, system_groups_path(resource), :class => 'button'

%br

= new_link_to
